# Node
node_modules/
dist/
.tmp/
.cache/

# Angular
.angular/

# Wrangler / Cloudflare
.wrangler/
.dev.vars

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

.idea/