<span class="segment-display" [attr.data-char]="displayChar()">
  <span class="segment segment-a" [class.segment--active]="activeSegments().has('a')"></span>
  <span class="segment segment-b" [class.segment--active]="activeSegments().has('b')"></span>
  <span class="segment segment-c" [class.segment--active]="activeSegments().has('c')"></span>
  <span class="segment segment-d" [class.segment--active]="activeSegments().has('d')"></span>
  <span class="segment segment-e" [class.segment--active]="activeSegments().has('e')"></span>
  <span class="segment segment-f" [class.segment--active]="activeSegments().has('f')"></span>
  <span class="segment segment-g" [class.segment--active]="activeSegments().has('g')"></span>
  <span class="segment segment-dp" [class.segment--active]="activeSegments().has('dp')"></span>
</span>
