<span class="split-flap" [attr.data-char]="currentChar()">
  <span class="split-flap__panel split-flap__panel--top">{{ currentChar() }}</span>
  <span class="split-flap__panel split-flap__panel--bottom">{{ previousChar() }}</span>
  <span
    class="split-flap__flip"
    [class.split-flap__flip--a]="flipMode() === 'a'"
    [class.split-flap__flip--b]="flipMode() === 'b'"
  >
    <span class="split-flap__flip-top">{{ previousChar() }}</span>
    <span class="split-flap__flip-bottom">{{ currentChar() }}</span>
  </span>
</span>
