:host {
  display: inline-flex;
}

.split-flap {
  position: relative;
  display: inline-block;
  width: 0.95em;
  height: 1.35em;
  font-size: 1em;
  font-weight: 600;
  color: #f7e7b1;
  text-transform: uppercase;
  perspective: 700px;
}

.split-flap__panel {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #201a12;
  border-radius: 0.16em;
  border: 1px solid #352b1b;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.08);
  overflow: hidden;
  backface-visibility: hidden;
}

.split-flap__panel--top {
  top: 0;
  border-bottom: none;
}

.split-flap__panel--bottom {
  bottom: 0;
  border-top: none;
}

.split-flap__flip {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.split-flap__flip-top,
.split-flap__flip-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #272015;
  border: 1px solid #3a2f1c;
  backface-visibility: hidden;
  overflow: hidden;
}

.split-flap__flip-top {
  top: 0;
  transform-origin: bottom;
  border-bottom: none;
}

.split-flap__flip-bottom {
  bottom: 0;
  transform-origin: top;
  border-top: none;
  transform: rotateX(90deg);
}

.split-flap__flip--a .split-flap__flip-top {
  animation: flap-top 420ms ease-in-out;
}

.split-flap__flip--a .split-flap__flip-bottom {
  animation: flap-bottom 420ms ease-in-out;
}

.split-flap__flip--b .split-flap__flip-top {
  animation: flap-top 420ms ease-in-out;
}

.split-flap__flip--b .split-flap__flip-bottom {
  animation: flap-bottom 420ms ease-in-out;
}

@keyframes flap-top {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-90deg);
  }
  100% {
    transform: rotateX(-90deg);
  }
}

@keyframes flap-bottom {
  0% {
    transform: rotateX(90deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}
