name = "db-home-planner-api"
main = "src/index.ts"
compatibility_date = "2024-09-25"

[dev]
port = 8787

[observability]
[observability.logs]
enabled = true
head_sampling_rate = 1
invocation_logs = true
persist = true
